In [1]:
import pandas as pd
import numpy as np

# Question 1: Car Matrix Generation

In [2]:
cn=pd.read_csv('D:/data/dataset-1.csv')

In [3]:
cn.head()

   id_1  id_2  route   moto    car     rv   bus  truck
0   829   827      1   2.05   4.14   4.14  10.1   15.2
1   829   821      4   6.63  13.26  13.26  32.4   48.5
2   829   804      7  14.41  28.92  28.92  64.7   97.0
3   829   822      6   5.90  11.81  11.81  28.8   43.2
4   829   826      9   2.87   5.81   5.81  14.2   21.2

In [4]:
cn.shape

(341, 8)

In [5]:
cn.isnull().sum()

id_1     0
id_2     0
route    0
moto     0
car      0
rv       0
bus      0
truck    0
dtype: int64

In [6]:
cn.describe()

,id_1,id_2,route,moto,car,rv,bus,truck
count,341.000000,341.000000,341.000000,341.000000,341.000000,341.000000,341.000000,341.000000
mean,815.906158,815.920821,5.334311,7.214106,14.411730,14.412229,31.932845,47.841789
std,10.801824,10.817587,2.873760,4.684622,9.382008,9.322661,20.532486,30.926161
min,801.000000,801.000000,1.000000,0.740000,1.390000,1.390000,3.300000,4.350000
25%,805.000000,805.000000,3.000000,3.280000,6.550000,6.550000,15.100000,22.600000
50%,821.000000,821.000000,5.000000,6.450000,12.380000,12.870000,28.400000,42.400000
75%,826.000000,826.000000,8.000000,10.500000,20.920000,20.920000,45.800000,68.700000
max,831.000000,831.000000,10.000000,19.670000,39.240000,39.240000,86.500000,129.800000

In [7]:
cn.nunique()

id_1      19
id_2      19
route     10
moto     155
car      167
rv       167
bus      153
truck    162
dtype: int64

In [8]:
cn.pivot_table(index='id_1',columns='id_2',values='car').shape

(19, 19)

In [9]:
cn.pivot_table(columns='id_2',index='id_1',values='car',)

id_2,801,802,803,804,805,806,807,808,809,821,822,823,824,825,826,827,829,830,831
id_1,,,,,,,,,,,,,,,,,,,
801,NaN,2.80,6.00,7.70,11.70,13.40,16.90,19.60,21.00,23.52,24.67,26.53,27.92,29.08,30.87,32.53,36.32,38.27,39.24
802,2.80,NaN,3.40,5.20,9.20,10.90,14.30,17.10,18.50,20.92,22.07,23.93,25.32,26.48,28.27,29.93,33.72,35.67,36.64
803,6.00,3.40,NaN,2.00,6.00,7.70,11.10,13.90,15.30,17.72,18.87,20.73,22.12,23.28,25.07,26.73,30.52,32.47,33.44
804,7.70,5.20,2.00,NaN,4.40,6.10,9.50,12.30,13.70,16.12,17.27,19.13,20.52,21.68,23.47,25.13,28.92,30.87,31.84
805,11.70,9.20,6.00,4.40,NaN,2.00,5.40,8.20,9.60,12.02,13.17,15.03,16.42,17.58,19.37,21.03,24.82,26.77,27.74
806,13.40,10.90,7.70,6.10,2.00,NaN,3.80,6.60,8.00,10.42,11.57,13.43,14.82,15.98,17.77,19.43,23.22,25.17,26.14
807,16.90,14.30,11.10,9.50,5.40,3.80,NaN,2.90,4.30,6.82,7.97,9.83,11.22,12.38,14.17,15.83,19.62,21.57,22.54
808,19.60,17.10,13.90,12.30,8.20,6.60,2.90,NaN,1.70,4.12,5.27,7.13,8.52,9.68,11.47,13.13,16.92,18.87,19.84
809,21.00,18.50,15.30,13.70,9.60,8.00,4.30,1.70,NaN,2.92,4.07,5.93,7.32,8.48,10.27,11.93,15.72,17.67,18.64
821,23.52,20.92,17.72,16.12,12.02,10.42,6.82,4.12,2.92,NaN,1.80,3.67,5.06,6.22,8.01,9.43,13.26,15.17,16.15
822,24.67,22.07,18.87,17.27,13.17,11.57,7.97,5.27,4.07,1.80,NaN,2.21,3.60,4.76,6.55,8.00,11.81,13.74,14.68
823,26.53,23.93,20.73,19.13,15.03,13.43,9.83,7.13,5.93,3.67,2.21,NaN,1.79,2.94,4.74,6.15,10.00,11.89,12.87
824,27.92,25.32,22.12,20.52,16.42,7.80,11.22,8.52,7.32,5.06,3.60,1.79,NaN,1.71,3.50,4.92,8.77,10.66,11.64
825,29.08,26.48,23.28,21.68,17.58,15.98,12.38,9.68,8.48,6.22,4.76,2.94,1.71,NaN,2.20,3.65,7.46,9.35,10.33
826,30.87,28.27,25.07,23.47,19.37,17.77,14.17,11.47,10.27,8.01,6.55,4.74,3.50,2.20,NaN,2.05,5.81,7.71,8.69
827,32.53,29.93,26.73,25.13,21.03,19.43,15.83,13.13,11.93,9.43,8.00,6.15,4.92,3.65,2.05,NaN,4.14,6.06,7.04
829,36.32,33.72,30.52,28.92,24.82,23.22,19.62,16.92,15.72,13.26,11.81,10.00,21.40,7.46,5.81,4.14,NaN,2.38,3.36
830,38.27,35.67,32.47,30.87,26.77,25.17,21.57,18.87,17.67,15.17,13.74,11.89,10.66,NaN,7.71,6.06,2.38,NaN,1.39
831,39.24,36.64,33.44,31.84,27.74,26.14,22.54,19.84,18.64,16.15,14.68,12.87,11.64,10.33,8.69,7.04,3.36,1.39,NaN

In [10]:
cn.pivot_table(columns='id_2',index='id_1',values='car',fill_value=0)

id_2,801,802,803,804,805,806,807,808,809,821,822,823,824,825,826,827,829,830,831
id_1,,,,,,,,,,,,,,,,,,,
801,0.00,2.80,6.00,7.70,11.70,13.40,16.90,19.60,21.00,23.52,24.67,26.53,27.92,29.08,30.87,32.53,36.32,38.27,39.24
802,2.80,0.00,3.40,5.20,9.20,10.90,14.30,17.10,18.50,20.92,22.07,23.93,25.32,26.48,28.27,29.93,33.72,35.67,36.64
803,6.00,3.40,0.00,2.00,6.00,7.70,11.10,13.90,15.30,17.72,18.87,20.73,22.12,23.28,25.07,26.73,30.52,32.47,33.44
804,7.70,5.20,2.00,0.00,4.40,6.10,9.50,12.30,13.70,16.12,17.27,19.13,20.52,21.68,23.47,25.13,28.92,30.87,31.84
805,11.70,9.20,6.00,4.40,0.00,2.00,5.40,8.20,9.60,12.02,13.17,15.03,16.42,17.58,19.37,21.03,24.82,26.77,27.74
806,13.40,10.90,7.70,6.10,2.00,0.00,3.80,6.60,8.00,10.42,11.57,13.43,14.82,15.98,17.77,19.43,23.22,25.17,26.14
807,16.90,14.30,11.10,9.50,5.40,3.80,0.00,2.90,4.30,6.82,7.97,9.83,11.22,12.38,14.17,15.83,19.62,21.57,22.54
808,19.60,17.10,13.90,12.30,8.20,6.60,2.90,0.00,1.70,4.12,5.27,7.13,8.52,9.68,11.47,13.13,16.92,18.87,19.84
809,21.00,18.50,15.30,13.70,9.60,8.00,4.30,1.70,0.00,2.92,4.07,5.93,7.32,8.48,10.27,11.93,15.72,17.67,18.64
821,23.52,20.92,17.72,16.12,12.02,10.42,6.82,4.12,2.92,0.00,1.80,3.67,5.06,6.22,8.01,9.43,13.26,15.17,16.15
822,24.67,22.07,18.87,17.27,13.17,11.57,7.97,5.27,4.07,1.80,0.00,2.21,3.60,4.76,6.55,8.00,11.81,13.74,14.68
823,26.53,23.93,20.73,19.13,15.03,13.43,9.83,7.13,5.93,3.67,2.21,0.00,1.79,2.94,4.74,6.15,10.00,11.89,12.87
824,27.92,25.32,22.12,20.52,16.42,7.80,11.22,8.52,7.32,5.06,3.60,1.79,0.00,1.71,3.50,4.92,8.77,10.66,11.64
825,29.08,26.48,23.28,21.68,17.58,15.98,12.38,9.68,8.48,6.22,4.76,2.94,1.71,0.00,2.20,3.65,7.46,9.35,10.33
826,30.87,28.27,25.07,23.47,19.37,17.77,14.17,11.47,10.27,8.01,6.55,4.74,3.50,2.20,0.00,2.05,5.81,7.71,8.69
827,32.53,29.93,26.73,25.13,21.03,19.43,15.83,13.13,11.93,9.43,8.00,6.15,4.92,3.65,2.05,0.00,4.14,6.06,7.04
829,36.32,33.72,30.52,28.92,24.82,23.22,19.62,16.92,15.72,13.26,11.81,10.00,21.40,7.46,5.81,4.14,0.00,2.38,3.36
830,38.27,35.67,32.47,30.87,26.77,25.17,21.57,18.87,17.67,15.17,13.74,11.89,10.66,0.00,7.71,6.06,2.38,0.00,1.39
831,39.24,36.64,33.44,31.84,27.74,26.14,22.54,19.84,18.64,16.15,14.68,12.87,11.64,10.33,8.69,7.04,3.36,1.39,0.00

# Question 2: Car Type Count Calculation

In [11]:
cn.head()

   id_1  id_2  route   moto    car     rv   bus  truck
0   829   827      1   2.05   4.14   4.14  10.1   15.2
1   829   821      4   6.63  13.26  13.26  32.4   48.5
2   829   804      7  14.41  28.92  28.92  64.7   97.0
3   829   822      6   5.90  11.81  11.81  28.8   43.2
4   829   826      9   2.87   5.81   5.81  14.2   21.2

In [12]:
cn['car_type']=np.where(cn['car']<=15, 'low', np.where(cn['car'] < 25, 'medium' , 'high'))

In [13]:
cn.head()

   id_1  id_2  route   moto    car     rv   bus  truck car_type
0   829   827      1   2.05   4.14   4.14  10.1   15.2      low
1   829   821      4   6.63  13.26  13.26  32.4   48.5      low
2   829   804      7  14.41  28.92  28.92  64.7   97.0     high
3   829   822      6   5.90  11.81  11.81  28.8   43.2      low
4   829   826      9   2.87   5.81   5.81  14.2   21.2      low

In [14]:
cn['car_type'].value_counts().to_dict()

{'low': 196, 'medium': 89, 'high': 56}

# Question 3: Bus Count Index Retrieval

In [15]:
cn[cn["bus"] >  cn["bus"].mean()*2]

     id_1  id_2  route   moto    car     rv   bus  truck car_type
2     829   804      7  14.41  28.92  28.92  64.7   97.0     high
7     829   801      1  18.21  36.32  36.32  79.5  119.2     high
12    829   802      5  16.91  33.72  33.72  74.3  111.4     high
17    829   803      2  15.21  30.52  30.52  67.9  101.8     high
25    827   801      9  16.32  32.53  32.53  70.2  105.3     high
30    827   802      4  15.02  29.93  29.93  65.0   97.5     high
54    804   829     10  14.41  28.92  28.92  64.7   97.0     high
64    804   831      3  15.87  31.84  31.84  71.7  107.6     high
70    804   830      8  15.38  30.87  30.87  69.4  104.0     high
97    826   801      4  15.48  30.87  30.87  66.1   99.2     high
144   801   829      8  18.21  36.32  36.32  79.5  119.2     high
145   801   827      3  16.32  32.53  32.53  70.2  105.3     high
149   801   826      1  15.48  30.87  30.87  66.1   99.2     high
154   801   831      4  19.67  39.24  39.24  86.5  129.8     high
160   801   830      9  19.18  38.27  38.27  84.2  126.2     high
201   831   804      9  15.87  31.84  31.84  71.7  107.6     high
206   831   801      2  19.67  39.24  39.24  86.5  129.8     high
210   831   802      7  18.37  36.64  36.64  81.3  122.0     high
215   831   803      6  16.67  33.44  33.44  74.9  112.4     high
234   802   829      9  16.91  33.72  33.72  74.3  111.4     high
235   802   827      7  15.02  29.93  29.93  65.0   97.5     high
245   802   831      1  18.37  36.64  36.64  81.3  122.0     high
250   802   830      3  17.88  35.67  35.67  79.0  118.4     high
309   830   804      9  15.38  30.87  30.87  69.4  104.0     high
314   830   801      9  19.18  38.27  30.27  84.2  126.2     high
319   830   802      8  17.88  35.67  35.67  79.0  118.4     high
322   830   803      7  16.18  32.47  32.47  72.6  108.8     high
323   803   829     10  15.21  30.52  30.52  67.9  101.8     high
334   803   831      3  16.67  33.44  33.44  74.9  112.4     high
340   803   830      1  16.18  32.47  32.47  72.6  108.8     high

In [16]:
cn[cn["bus"] >  cn["bus"].mean()*2].index

Index([  2,   7,  12,  17,  25,  30,  54,  64,  70,  97, 144, 145, 149, 154,
       160, 201, 206, 210, 215, 234, 235, 245, 250, 309, 314, 319, 322, 323,
       334, 340],
      dtype='int64')

In [17]:
list(cn[cn["bus"] >  cn["bus"].mean()*2].index)

[2,
 7,
 12,
 17,
 25,
 30,
 54,
 64,
 70,
 97,
 144,
 145,
 149,
 154,
 160,
 201,
 206,
 210,
 215,
 234,
 235,
 245,
 250,
 309,
 314,
 319,
 322,
 323,
 334,
 340]

In [18]:
cn[cn["bus"] >  cn["bus"].mean()*2].reset_index()[['index', 'bus']].to_dict()

{'index': {0: 2,
  1: 7,
  2: 12,
  3: 17,
  4: 25,
  5: 30,
  6: 54,
  7: 64,
  8: 70,
  9: 97,
  10: 144,
  11: 145,
  12: 149,
  13: 154,
  14: 160,
  15: 201,
  16: 206,
  17: 210,
  18: 215,
  19: 234,
  20: 235,
  21: 245,
  22: 250,
  23: 309,
  24: 314,
  25: 319,
  26: 322,
  27: 323,
  28: 334,
  29: 340},
 'bus': {0: 64.7,
  1: 79.5,
  2: 74.3,
  3: 67.9,
  4: 70.2,
  5: 65.0,
  6: 64.7,
  7: 71.7,
  8: 69.4,
  9: 66.1,
  10: 79.5,
  11: 70.2,
  12: 66.1,
  13: 86.5,
  14: 84.2,
  15: 71.7,
  16: 86.5,
  17: 81.3,
  18: 74.9,
  19: 74.3,
  20: 65.0,
  21: 81.3,
  22: 79.0,
  23: 69.4,
  24: 84.2,
  25: 79.0,
  26: 72.6,
  27: 67.9,
  28: 74.9,
  29: 72.6}}

In [19]:
filtered_df = cn[cn["bus"] >  cn["bus"].mean()*2]

In [20]:
filtered_df.head()

    id_1  id_2  route   moto    car     rv   bus  truck car_type
2    829   804      7  14.41  28.92  28.92  64.7   97.0     high
7    829   801      1  18.21  36.32  36.32  79.5  119.2     high
12   829   802      5  16.91  33.72  33.72  74.3  111.4     high
17   829   803      2  15.21  30.52  30.52  67.9  101.8     high
25   827   801      9  16.32  32.53  32.53  70.2  105.3     high

In [21]:
filtered_df.reset_index()[["index", "bus"]].to_dict()

{'index': {0: 2,
  1: 7,
  2: 12,
  3: 17,
  4: 25,
  5: 30,
  6: 54,
  7: 64,
  8: 70,
  9: 97,
  10: 144,
  11: 145,
  12: 149,
  13: 154,
  14: 160,
  15: 201,
  16: 206,
  17: 210,
  18: 215,
  19: 234,
  20: 235,
  21: 245,
  22: 250,
  23: 309,
  24: 314,
  25: 319,
  26: 322,
  27: 323,
  28: 334,
  29: 340},
 'bus': {0: 64.7,
  1: 79.5,
  2: 74.3,
  3: 67.9,
  4: 70.2,
  5: 65.0,
  6: 64.7,
  7: 71.7,
  8: 69.4,
  9: 66.1,
  10: 79.5,
  11: 70.2,
  12: 66.1,
  13: 86.5,
  14: 84.2,
  15: 71.7,
  16: 86.5,
  17: 81.3,
  18: 74.9,
  19: 74.3,
  20: 65.0,
  21: 81.3,
  22: 79.0,
  23: 69.4,
  24: 84.2,
  25: 79.0,
  26: 72.6,
  27: 67.9,
  28: 74.9,
  29: 72.6}}

In [26]:
filtered_df.reset_index()

    index  id_1  id_2  route   moto    car     rv   bus  truck car_type
0       2   829   804      7  14.41  28.92  28.92  64.7   97.0     high
1       7   829   801      1  18.21  36.32  36.32  79.5  119.2     high
2      12   829   802      5  16.91  33.72  33.72  74.3  111.4     high
3      17   829   803      2  15.21  30.52  30.52  67.9  101.8     high
4      25   827   801      9  16.32  32.53  32.53  70.2  105.3     high
5      30   827   802      4  15.02  29.93  29.93  65.0   97.5     high
6      54   804   829     10  14.41  28.92  28.92  64.7   97.0     high
7      64   804   831      3  15.87  31.84  31.84  71.7  107.6     high
8      70   804   830      8  15.38  30.87  30.87  69.4  104.0     high
9      97   826   801      4  15.48  30.87  30.87  66.1   99.2     high
10    144   801   829      8  18.21  36.32  36.32  79.5  119.2     high
11    145   801   827      3  16.32  32.53  32.53  70.2  105.3     high
12    149   801   826      1  15.48  30.87  30.87  66.1   99.2     high
13    154   801   831      4  19.67  39.24  39.24  86.5  129.8     high
14    160   801   830      9  19.18  38.27  38.27  84.2  126.2     high
15    201   831   804      9  15.87  31.84  31.84  71.7  107.6     high
16    206   831   801      2  19.67  39.24  39.24  86.5  129.8     high
17    210   831   802      7  18.37  36.64  36.64  81.3  122.0     high
18    215   831   803      6  16.67  33.44  33.44  74.9  112.4     high
19    234   802   829      9  16.91  33.72  33.72  74.3  111.4     high
20    235   802   827      7  15.02  29.93  29.93  65.0   97.5     high
21    245   802   831      1  18.37  36.64  36.64  81.3  122.0     high
22    250   802   830      3  17.88  35.67  35.67  79.0  118.4     high
23    309   830   804      9  15.38  30.87  30.87  69.4  104.0     high
24    314   830   801      9  19.18  38.27  30.27  84.2  126.2     high
25    319   830   802      8  17.88  35.67  35.67  79.0  118.4     high
26    322   830   803      7  16.18  32.47  32.47  72.6  108.8     high
27    323   803   829     10  15.21  30.52  30.52  67.9  101.8     high
28    334   803   831      3  16.67  33.44  33.44  74.9  112.4     high
29    340   803   830      1  16.18  32.47  32.47  72.6  108.8     high

# Question 4: Route Filtering

In [51]:
cn.head()

   id_1  id_2  route   moto    car     rv   bus  truck car_type
0   829   827      1   2.05   4.14   4.14  10.1   15.2      low
1   829   821      4   6.63  13.26  13.26  32.4   48.5      low
2   829   804      7  14.41  28.92  28.92  64.7   97.0     high
3   829   822      6   5.90  11.81  11.81  28.8   43.2      low
4   829   826      9   2.87   5.81   5.81  14.2   21.2      low

In [54]:
cn["truck"].mean()

47.84178885630498

In [56]:
cn["truck"].min()

4.35

In [58]:
cn["truck"].max()

129.8

In [60]:
cn.groupby('route')['truck'].mean().loc[lambda x: x > 7].index.tolist()

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [62]:
cn.groupby('route')['truck'].mean().loc[lambda x: x > 7]

route
1     49.164103
2     41.403125
3     50.075000
4     51.096774
5     43.327778
6     47.952500
7     52.525862
8     46.128571
9     54.531429
10    41.400000
Name: truck, dtype: float64

In [65]:
cn.groupby('route')['truck'].mean().loc[lambda x: x > 7].to_dict()

{1: 49.16410256410256,
 2: 41.403125,
 3: 50.075,
 4: 51.096774193548384,
 5: 43.327777777777776,
 6: 47.9525,
 7: 52.525862068965516,
 8: 46.12857142857143,
 9: 54.53142857142857,
 10: 41.400000000000006}

# Question 5: Matrix Value Modification

In [70]:
import pandas as pd
def multiply_matrix(input_df):
    result_df = input_df.copy()
    for column in result_df.columns:
        result_df[column] = result_df[column].apply(lambda x: x * 0.75 if x > 20 else x * 1.25)
    result_df = result_df.round(1)

    return result_df
df = pd.DataFrame({'A': [15, 25, 10], 'B': [30, 18, 22]})
result_df = multiply_matrix(df)
print(result_df)

      A     B
0  18.8  22.5
1  18.8  22.5
2  12.5  16.5